.footer{
 background-color: rgb(88, 243, 204);
 grid-area: ft;
 background-color: rgb(3, 3, 44);
 box-shadow: 0px 0px 10px yellow;
 padding: 20px;
 text-align: center;
 letter-spacing: 1px;
}
.footer a{
 color: white;
}

