.footer{
 background-color: rgb(88, 243, 204);
 grid-area: ft;
 /* background-color: rgb(3, 3, 44); */
 box-shadow: 0px 0px 10px yellow;
 padding: 5px;
 text-align: center;
 letter-spacing: 1px;
}
.footer img{
 height: 50px;
 width: 50px;
}

